<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            font-size: 10rem;
            margin: 3rem;
        }
        a{
            text-decoration: none;
            background: #609B8A;
            padding: 1rem 3rem;
            color:white;
            display: inline-block;
            border-radius: 5px;
            font-family: Monospace;
        }
        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="main">
    <h1>404</h1>
    <a href="{% url 'home' %}">Return Home</a>
        </div>

</body>
</html>